.filters{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.category{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.category select{
    padding: 0.25rem;
    border-radius: 5px;
}


.cards{
    display: flex;
    margin-top: 2rem;
    gap: 1.5rem;
    align-items: center;
    flex-direction: column;
}