.editNgocard-card{
    /* width: 100%; */
    height: auto;
    padding: 3rem;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    max-height: max-content;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.editNgocard-card h2{
    border-bottom: 1px solid;
}
.createDonationForm{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: none;
}
.createDonationForm >div{
    flex: 45%;
    /* padding: 0.25rem; */
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.createDonationForm button{
    width: auto;
    flex: none;
}

.editNgocard-card button {
    background-color: initial;
    background-image: linear-gradient(-180deg, #00D775, #00BD68);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
    height: 44px;
    line-height: 44px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    border: 0;
    margin-top: 1rem;
  }
  
  .editNgocard-card button:hover {
    background: #00bd68;
  }

  