.settings-card{
    /* width: 100%; */
    height: auto;
    padding: 3rem;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    max-height: max-content;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.settings-card h2{
    border-bottom: 1px solid;
}

.settings-card .inner-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
    margin-bottom: 10px;
} 
.settings-card .inner-section div{
    flex: 30%;
} 
.settings-card .inner-section label{
    margin-left: 10px;
}
